<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/styles.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
</style>
</head>


<body>
<h1>Login</h1>

<h3>{{.Message}}</h3>

<form action="/authorize/login" method="POST">
	<label for="username">Username:</label><br>
	<input type="text" name="username" value="{{.Prev_username}}"><br>

	<label for="password">Password:</label><br>
	<input type="password" name="password"><br>

	<button type="submit" value="Submit">Submit</button>
</form>

<a href="/register">If you don't possess an account, feel free to get one</a>
</body>
</html>