<h1>Welcome {{.Username}}!</h1>
<h1>Your ID is: <b><ins>#{{.UserID}}</ins></b></h1>

{{if not (eq .OnlyForAdminVecificationCode "")}}
<h1 style="color:green;">Verification code for teacher registration is: <b><ins>#{{.OnlyForAdminVecificationCode}}</ins></b></h1>
{{end}}

{{if eq .Teacher true}}

<form action="/test/createTest" method="POST">
	<label for="createTest">Create new test:</label><br>
	<input type="submit" value="Create new test">
</form><br>

<form action="/test/checkTest" enctype="multipart/form-data" method="POST">
	<label for="file">Check tests from PDF pile or from photo:</label><br>
	<input type="file" name="file"><br>
	<input type="submit" value="Check!">
</form><br>

<!-- <form action="/lesson/newLesson" method="POST">
	<label for="newLesson">Create new lesson:</label><br>
	<input type="submit" value="Create!">
</form> -->

{{$user := .Username}}

<h3>My tests:</h3>
{{range .Tests}}
<a href="/test/editTest/{{.TestID}}">Test ID: {{.TestID}}<br>Test Name: {{.TestName}}</a><hr>
{{end}}

{{$user := .Username}}
<h3>My classes:</h3>
{{range .Classes}}
<a href="/test/teacherView/{{.TestID}}">Test ID: {{.TestID}}<br>Test Name: {{.TestName}}</a><hr>
{{end}}


{{else}}

<form action="/test/checkTest" method="POST">
	<label for="checkTest">Check test from photo:</label><br>
	<input type="file" name="testFile"><br>
	<input type="submit" value="Check!">
</form><br>

{{$user := .Username}}
<h3>Tests:</h3>
{{range .Tests}}
<a href="/test/view/{{.TestID}}${{$user}}">Test ID: {{.TestID}}<br>Test Name: {{.TestName}}</a><hr>
{{end}}

{{end}}
