<h1>Welcome {{.Username}}!</h1>

<form action="/test/createTest" method="POST">
	<label for="createTest">Create new test:</label><br>
	<input type="submit" value="Create new test">
</form><br>

<form action="/test/checkTest" method="POST">
	<label for="checkTest">Check test:</label><br>
	<input type="text" name="testName" placeholder="#XXXX - test id">
	<input type="submit" value="Check!">
</form><br>

<form action="/lesson/newLesson" method="POST">
	<label for="newLesson">Create new lesson:</label><br>
	<input type="submit" value="Create!">
</form>