<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>


<body>
<h1>Test Creator</h1>

<form action="/test/createTest/process" method="POST">

<label for="testName">Test name:</label>
<input type="text" name="testName" id="testName" placeholder="ThrillingTest"><br>
<label for="numberOfQuestions">Number of questions</label>
<input type="number" name="numberOfQuestions" id="numberOfQuestions" value="30" min="1" max="30"><br>

<h3>Questions (maximum answer length is 8) </h3>
<table>
<tr>
<th>Index of question</th>
<th>Answer</th>
<th>Points</th>
</tr>
{{range .Questions}}
<tr>
<td><label for="question{{.}}">{{.}}. </label></td>
<td><input type="text" name="answer{{.}}" maxlength = "8"></td>
<td><input type="number" name="points{{.}}" min="0" max="100" value="1"></td>
<br>
</tr>
{{end}}
</table>

<h3>Mark:</h3>
<p>points < <input type="number" name="pointsTo2"> - 2</p>
<p>points < <input type="number" name="pointsTo3"> - 3</p>
<p>points < <input type="number" name="pointsTo4"> - 4</p>

<input type="submit" value="Save!">
</form>

</body>
</html>